$fontColor: #ffffff;
$backColor: #004f44;
$bodyColor: #0bb8a2;
$layoutDir: '/img/layout';

@font-face {
	font-family: webglyphs;
	src: url('../font/webglyphs2.eot');
	src: url('../font/webglyphs2.woff') format('woff'),
		url('../font/webglyphs2.ttf') format('truetype');
}
body{
	margin: 30px 0;
	color: $fontColor;
	background-color: $backColor;
	background-image:  url("#{$layoutDir}/stars.jpg");
	font-family: arial;
	font-size: 0.8em;
}
ul{
	padding-left: 20px;
}
a {
	color: #ffffff;
	font-weight: bold;
}
a.current, a:hover {
	text-shadow: 0 0 4px #b8ffea, 0 0 8px #fff;
}
img{
	float: left;
	margin-right: 5px;
}
img, iframe, video{
	border-radius: 8px;
	border: #004f44 solid 1px;
}
h1{
	font-size: 1.8em;
	text-shadow: 0px 0px 4px #B8FFEA;
}
h2{
	font-size: 1.2em;
	margin-top: 20px;
	margin-bottom: 6px;
	text-shadow:0px 0px 4px #B8FFEA;
}
hr{
	border: none;
	border-top-width: 1px;
	border-top-color: white;
	border-top-style: dotted;
}
q{
	font-style: italic;
	quotes:  none;
}
#page{
	width: 800px;
	margin: auto;
	border-radius: 8px;
	overflow: hidden;
	background:
		url("#{$layoutDir}/head.jpg") no-repeat,
		url("#{$layoutDir}/ray.png") 182px 367px repeat-y,
		$bodyColor url("#{$layoutDir}/bodygrd.png") 0 367px repeat-x;
	-webkit-box-shadow: 0px 0px 42px 6px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 42px 6px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 42px 6px rgba(0,0,0,0.75);
}
#shadow{
	padding: 290px 0 20px 0;
	/*background-color: red;*/
	-webkit-box-shadow: inset 0px 0px 25px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 0px 25px -5px rgba(0,0,0,0.75);
	box-shadow: inset 0px 0px 25px -5px rgba(0,0,0,0.75);
}
#menu{
	margin: 80px 0 0 10px;
	width: 170px;
	float: left;
	a{
		font-size: 0.9em;
		text-decoration: none;
	}
	ul{
		text-align: right;
		padding: 0;
		list-style: none;
	}
	li{
		margin-bottom: 10px;
	}
}
#content{
	margin-left: 30px;
	width: 575px;
	float: left;
}
#city{
	margin-right: 20px;
	float:left;
	a{
		cursor: pointer;
	}
}
#therapist {
	float:left;
	padding-left: 20px;
	width: 390px;
	li.foto{
		margin: 0 0 12px 4px;
		float: right;
	}
	ul{
		margin:0 0 16px 0;
		padding:0;
		list-style: none;
		clear: both;
	}
}
.button{
	padding: 8px !important;
	margin-bottom: 10px !important;
	text-decoration: none;
	text-align: center;
}
.address{
	margin: 30px 0 30px 0 !important;
	padding: 0 0 6px 0 !important;
	overflow: hidden;
	cursor: default;
	h2{
		margin: 0;
		padding: 5px 6px !important;
		border: none !important;
	}
	div{
		padding: 4px 6px 0 6px;
	}
}
.courses {
	margin: 0 0 20px 20px;
	padding: 0;
	list-style: none;
}
.courses li{
	position: relative;
	margin-bottom: 12px;
}
.courses li:before{
	content: '\f058';
	margin: 0 !important;
	position: absolute;
	left: -18px;
}
#toplist{
	margin-top: 40px;
	text-align: center;
}
.tariff {
	td{
		padding: 6px;
	}
	tr td:first-child{
		white-space: nowrap;
		vertical-align: top;
		text-align: right;
	}
}
*:before{
	font-family: webglyphs;
	font-weight: normal;
	font-size: 14px;
	margin-right: 8px;
	position: relative;
	top: 1px;
	cursor: default;
}
.price:before {
	content: '\f264';
}
.deposit:before {
	content: '\f032';
}
.date:before {
	content: '\f4d0';
}
.person:before {
	content: '\f133';
}
.profession:before {
	content: '\f058';
}
.phone:before {
	content: '\f0e8';
}
.mail:before {
	content: '\f028';
	top: 4px;
}
.website:before {
	content: '\f022';
	top: 4px;
}
.house:before {
	content: '\f5ed';
}
.street:before {
	content: '\f21b';
}
.city:before {
	content: '\f576';
}
.map:before {
	content: '\f20a';
}
.actcity:before {
	content: '\f31b';
}
.img{
}
.clr{
	clear: both;
}
a[href^="error:"] {
	background: red;
	color: white;
}
/*** Flash zpravicky ***/
.flash {
	padding: 8px;
	margin-bottom: 2px;
	border: 1px solid #ddd;
	margin-bottom: 20px;
}
.flash.success {
	background: #E6EFC2;
	color: #264409;
	border-color: #C6D880;
}
.flash.error {
	background: #FFB6C1;
	color: #8a1f11;
	border-color: #8a1f11;
}
/*** End flash zpravicky ***/
