{block title}Lymfatická ruční drenáž{/block}
{block keywords}lymfa, lymfatická masáž, manuální lymfodrenáž, drenáž{/block}
{block description}Nabídka ošetření manuální lymfatické masáže. Lymfatický systém a učinky manuální lymfodrenáže.{/block}

{block content}
<h1>Lymfatická ruční drenáž</h1>
<p>
	<img class="rightimg" src="img/dcr/lymfaticka-masaz.jpg" title="Lymfatická ruční drenáž" alt="Lymfatická ruční drenáž" />
	Lymfatická masáž neboli manuální lymfodrenáž je dokonale propracovaná metoda na posílení a pročištění lymfatického systému,
	která se nedá svými účinky ani možnostmi srovnat s přístrojovou lymfodrenáží.
	Při manuální lymfodrenáži ruce terapeuta vytváří na povrchu klientova těla „lymfatickou pumpu“
	jemnými kruhovitými a přesně směrovanými pohyby pro povzbuzení toku lymfy (mízy) a rozmasírovaní a vyprázdnění lymfatických uzlin.
	Manuální lymfodrenáž je pro klienta velmi příjemná a relaxační.
	Jde o naprosto přesný systém hmatů a vyžaduje dokonalou znalost mízního systému a směr toku mízy (lymfy),
	jinak se může více poškodit než vylepšit.
	Efekt lymfodrenáže je detoxikační, kosmetický, relaxační i zdravotní.
	Podpoří se tak odbourávání odpadních látek, odvod splodin metabolizmu z těla, zvýší se imunita,
	mizí lymfatické otoky a celulitida, zmenšuje se objem těch částí těla, kde byl tok lymfy narušen
	(bývají to stehna, hýždě, břicho, lýtka, vrchní část paží apod.), zlepšuje se vzhled pokožky.
	Lýtka jsou odlehčená, bříško a stehna se zmenšují a zjemňují, celulitická místa se vyrovnávají.
	Masáží dochází k uvolnění, zmírní se psychické napětí a stres.
	Při lymfodrenáži obličeje se zlepšuje vzhled i barva i napětí pleti.
	Zpravidla se lymfuje celé tělo, ale je možné i cílené zaměření na konkrétní problematické partie.
	Vždy je však hlavním a úvodním bodem programu krk a dekolt, kde je hlavní odvod lymfy,
	a ten musí být vždy ošetřen v úvodu procedury, ať se pak terapeut věnuje kterékoli oblasti těla.
</p>
<p>
	Délka jednoho ošetření je 60-90 minut.
</p>

<h2>Lymfatický (mízní) systém a manuální lymfodrenáž</h2>
<p>
	Lymfatický (mízní) systém je důležitou součástí imunitního systému.
	Je důležitý při tvorbě protilátek, zneškodňování bakterií, virů a toxinů, které se dostávají do těla potravou, vzduchem, pokožkou,
	vznikají jako odpady metabolismu a jsou vyloučeny pomocí mízních (lymfatických) cév a uzlin.
	Lymfatický systém přetěžujeme nejen nevhodnou skladbou potravy a nedostatečným příjmem vody,
	ale také stresem a zvýšenou fyzickou aktivitou nebo naopak dlouhodobým stáním či sezením.
	Otoky, únava, bolesti hlavy a vyčerpanost jsou projevy zvětšeného zatížení našeho mízního systému, který potřebuje naši zvýšenou pozornost.
	Projevem dlouhodobého zatěžování mízního systému je také celulitida.
</p>
<p>
	Aby lymfatický systém fungoval správně, je potřeba pravidelně, přiměřeně sportovat bez přílišného zatěžování,
	hodně pít čistou vodu nebo čistící bylinné čaje, jíst zdravou potravu s nízkým obsahem cukru, soli, konzervantů, těžkých mléčných produktů a bílé mouky.
	Naprosto nevhodné je stravování typu fast food.
	Pokud navíc pravidelně navštěvujete manuální lymfodrenáže, Váš imunitní systém i Vaše pokožka Vám bude vděčná a Vy se budete těšit ze svého zdraví a krásy.
</p>

<h2>Kdy je užitečné provádět manuální lymfodrenáž</h2>
<ul>
	<li>Pro detoxikaci organismu – odvod odpadů metabolizmu</li>
	<li>Pro posilnění celkové imunity a zlepšení hojení ran</li>
	<li>Pro zlepšení stavu pokožky či pleti</li>
	<li>Při celulitidě a také když chcete zhubnout</li>
	<li>Proti migrénám</li>
	<li>Pro relaxaci a uvolnění</li>
	<li>Ženy nad 35 let jako prevence otoků</li>
</ul>

<h2>Kdy není vhodné provádět lymfodrenáž</h2>
<ul>
	<li>při bakteriálním či virovém onemocnění</li>
	<li>při akutním zánětlivém onemocnění žilním i kožním</li>
	<li>při nejasných břišních obtížích</li>
	<li>při otocích způsobených onemocněním ledvin a jater</li>
	<li>při rakovině a leukémii</li>
	<li>v období těhotenství a kojení</li>
</ul>

<h2>Manuální lymfodrenáž či přístrojová?</h2>
<p>
	Při manuální lymfodrenáži se může terapeut zaměřit na určité části těla,
	upravit tlak podle potřeb klienta a hmaty vyprázdnit lymfatické uzliny,
	aby rozprouděná lymfa měla kam odtékat.
	Pokud Vám tuto službu obsluha přístoje neposkytne, je lépe přístojovou lymfodrenáž neprovádět, mohla by Vám ublížit.
</p>

<h2>Frekvence návštěv a délka ošetření</h2>
<p>
	Základní kůra obsahuje několik návštěv podle typu a rozsahu potíží a podle toho, co klientka očekává.
	Začíná se zpravidla 3 návštěvami v průběhu 1 týdne většinou po 90ti minutách.
	Poté pokračujeme podle druhu řešeného problému a podle toho, jak lymfatický systém na lymfodrenáž reaguje,
	což bývá individuální a v souladu s očekáváním klientky.
	Lymfodrenáž můžeme zkombinovat anticelulitickou masáží a ozónovým zábalem pro lepší výsledky.
	Další návštěvy probíhají buď v nárazových kůrách nebo v pravidelných návštěvách 1x týdně, 1x měsíčně apod.
	Metoda musí být aplikována pravidelně, aby bylo dosaženo trvalých účinků.
	Frekvence návštěv jsou věcí dohody.
</p>
