parameters:
	courses:
		-
			name: 'KST III'
			price: 3800
			occupied: false
			place: %place.dumsvetla%
			lectors:
				- 'Zdeňka Ocelíková'
			dates:
				-
					date: '1.12.2018 10:00'
					end: '18:00'
				-
					date: '2.12.2018 9:00'
					end: '16:00'
		-
			name: 'KST I + II (kraniosakrální terapie)'
			price: 7800
			deposit: 3800
			occupied: false
			place: %place.dumsvetla%
			lectors:
				- 'Zdeňka Ocelíková'
			dates:
				-
					date: '18.01.2019 10:00'
					end: '18:00'
				-
					date: '19.01.2019 9:00'
					end: '17:00'
				-
					date: '20.01.2019 9:00'
					end: '17:00'
				-
					date: '21.01.2019 9:00'
					end: '13:00'
		-
			name: 'PE (Práce s energií, emoce a tělo)'
			price: 3800
			occupied: false
			place: %place.dumsvetla%
			lectors:
				- 'Zdeňka Ocelíková'
			dates:
				-
					date: '2.2.2019 10:00'
					end: '18:00'
				-
					date: '3.2.2019 9:00'
					end: '16:00'
		-
			name: 'KST III (Kraniosakrální t. - lebka).'
			price: 3800
			occupied: true
			place: %place.dumsvetla%
			lectors:
				- 'Zdeňka Ocelíková'
			dates:
				-
					date: '23.2.2019 10:00'
					end: '18:00'
				-
					date: '24.2.2019 9:00'
					end: '16:00'
		-
			name: 'PE (Práce s energií, emoce a tělo)'
			price: 3800
			occupied: false
			place: %place.dumsvetla%
			lectors:
				- 'Zdeňka Ocelíková'
			dates:
				-
					date: '16.3.2019 10:00'
					end: '18:00'
				-
					date: '17.3.2019 9:00'
					end: '16:00'
		-
			name: 'KST I + II (kraniosakrální terapie)'
			price: 7800
			deposit: 3800
			occupied: false
			place: %place.dumsvetla%
			lectors:
				- 'Zdeňka Ocelíková'
			dates:
				-
					date: '29.03.2019 10:00'
					end: '18:00'
				-
					date: '30.03.2019 9:00'
					end: '17:00'
				-
					date: '31.03.2019 9:00'
					end: '17:00'
				-
					date: '1.4.2019 9:00'
					end: '13:00'
		-
			name: 'KST ZB (Základy ks-biodynamiky)'
			price: 3800
			occupied: false
			place: %place.dumsvetla%
			lectors:
				- 'Zdeňka Ocelíková'
			dates:
				-
					date: '13.4.2019 10:00'
					end: '18:00'
				-
					date: '14.4.2019 9:00'
					end: '16:00'
		-
			name: 'PE (Práce s energií, emoce a tělo)'
			price: 3800
			occupied: false
			place: %place.dumsvetla%
			lectors:
				- 'Zdeňka Ocelíková'
			dates:
				-
					date: '11.05.2019 10:00'
					end: '18:00'
				-
					date: '12.05.2019 9:00'
					end: '16:00'
		-
			name: 'KST I + II (kraniosakrální terapie)'
			price: 7800
			deposit: 3800
			occupied: false
			place: %place.dumsvetla%
			lectors:
				- 'Zdeňka Ocelíková'
			dates:
				-
					date: '24.05.2019 10:00'
					end: '18:00'
				-
					date: '25.05.2019 9:00'
					end: '17:00'
				-
					date: '26.05.2019 9:00'
					end: '17:00'
				-
					date: '27.05.2019 9:00'
					end: '13:00'
		-
			name: 'KST III (Kraniosakrální t. - lebka).'
			price: 3800
			occupied: false
			place: %place.dumsvetla%
			lectors:
				- 'Zdeňka Ocelíková'
			dates:
				-
					date: '08.06.2019 10:00'
					end: '18:00'
				-
					date: '09.06.2019 9:00'
					end: '16:00'
