parameters:
	courses:
		-
			name: 'Kraniosakrální terapie III.'
			price: 4200
			occupied: true
			place: %place.dumsvetla%
			lectors:
				- 'Zdeňka Ocelíková'
			substitute:
				- 'Bc. Michaela Habrunová'
			dates:
				-
					date: '12.05.2018 10:00'
					end: '18:00'
				-
					date: '13.05.2018 9:00'
					end: '16:00'
		-
			name: 'Kraniosakrální terapie I. + II. + práce s energií'
			price: 9200
			deposit: 3200
			occupied: true
			place: %place.dumsvetla%
			lectors:
				- 'Zdeňka Ocelíková'
			substitute:
				- 'Bc. Michaela Habrunová'
			dates:
				-
					date: '25.05.2018 10:00'
					end: '18:00'
				-
					date: '26.05.2018 10:00'
					end: '18:00'
				-
					date: '27.05.2018 9:00'
					end: '16:00'
				-
					date: '09.06.2018 10:00'
					end: '18:00'
				-
					date: '10.06.2018 9:00'
					end: '16:00'
		-
			name: 'Kraniosakrální terapie I. + II. + III.'
			price: 11200
			deposit: 4200
			occupied: true
			place: %place.dumsvetla%
			lectors:
				- 'Zdeňka Ocelíková'
			substitute:
				- 'Bc. Michaela Habrunová'
			dates:
				-
					date: '26.5.2018 10:00'
					end: '18:00'
				-
					date: '27.5.2018 9:00'
					end: '16:00'
				-
					date: '9.6.2018 10:00'
					end: '18:00'
				-
					date: '10.6.2018 9:00'
					end: '16:00'
				-
					date: '1.12.2018 10:00'
					end: '18:00'
				-
					date: '2.12.2018 9:00'
					end: '16:00'
		-
			name: 'Kraniosakrální terapie I. + II. + III. + práce s energií'
			price: 12600
			deposit: 4600
			occupied: true
			place: %place.dumsvetla%
			lectors:
				- 'Zdeňka Ocelíková'
			substitute:
				- 'Bc. Michaela Habrunová'
			dates:
				-
					date: '25.5.2018 10:00'
					end: '18:00'
				-
					date: '26.5.2018 10:00'
					end: '18:00'
				-
					date: '27.5.2018 9:00'
					end: '16:00'
				-
					date: '9.6.2018 10:00'
					end: '18:00'
				-
					date: '10.6.2018 9:00'
					end: '16:00'
				-
					date: '1.12.2018 10:00'
					end: '18:00'
				-
					date: '2.12.2018 9:00'
					end: '16:00'
		-
			name: 'Práce s energií'
			price: 1700
			occupied: false
			place: %place.dumsvetla%
			lectors:
				- 'Zdeňka Ocelíková'
			dates:
				-
					date: '25.05.2018 10:00'
					end: '18:00'
		-
			name: 'Kraniosakrální terapie I. + II.'
			price: 7800
			deposit: 2800
			occupied: true
			place: %place.dumsvetla%
			lectors:
				- 'Zdeňka Ocelíková'
			substitute:
				- 'Bc. Michaela Habrunová'
			dates:
				-
					date: '26.05.2018 10:00'
					end: '18:00'
				-
					date: '27.05.2018 9:00'
					end: '16:00'
				-
					date: '09.06.2018 10:00'
					end: '18:00'
				-
					date: '10.06.2018 9:00'
					end: '16:00'
		-
			name: 'Práce s energií'
			price: 1700
			occupied: false
			place: %place.dumsvetla%
			lectors:
				- 'Zdeňka Ocelíková'
			dates:
				-
					date: '14.09.2018 10:00'
					end: '18:00'
		-
			name: 'Kraniosakrální terapie I. + II.'
			price: 7800
			deposit: 2800
			occupied: false
			place: %place.dumsvetla%
			lectors:
				- 'Zdeňka Ocelíková'
			substitute:
				- 'Bc. Michaela Habrunová'
			dates:
				-
					date: '15.09.2018 10:00'
					end: '18:00'
				-
					date: '16.09.2018 9:00'
					end: '16:00'
				-
					date: '22.09.2018 10:00'
					end: '18:00'
				-
					date: '23.09.2018 9:00'
					end: '16:00'
		-
			name: 'Kraniosakrální terapie I. + II. + práce s energií'
			price: 9200
			deposit: 3200
			occupied: false
			place: %place.dumsvetla%
			lectors:
				- 'Zdeňka Ocelíková'
			substitute:
				- 'Bc. Michaela Habrunová'
			dates:
				-
					date: '14.09.2018 10:00'
					end: '18:00'
				-
					date: '15.09.2018 10:00'
					end: '18:00'
				-
					date: '16.09.2018 9:00'
					end: '16:00'
				-
					date: '22.09.2018 10:00'
					end: '18:00'
				-
					date: '23.09.2018 9:00'
					end: '16:00'
		-
			name: 'Kraniosakrální terapie I. + II. + III. + práce s energií'
			price: 12600
			deposit: 4600
			occupied: false
			place: %place.dumsvetla%
			lectors:
				- 'Zdeňka Ocelíková'
			substitute:
				- 'Bc. Michaela Habrunová'
			dates:
				-
					date: '14.09.2018 10:00'
					end: '18:00'
				-
					date: '15.09.2018 10:00'
					end: '18:00'
				-
					date: '16.09.2018 9:00'
					end: '16:00'
				-
					date: '22.09.2018 10:00'
					end: '18:00'
				-
					date: '23.09.2018 9:00'
					end: '16:00'
				-
					date: '1.12.2018 10:00'
					end: '18:00'
				-
					date: '2.12.2018 9:00'
					end: '16:00'
		-
			name: 'Kraniosakrální terapie I. + II. + III.'
			price: 11200
			deposit: 4200
			occupied: false
			place: %place.dumsvetla%
			lectors:
				- 'Zdeňka Ocelíková'
			substitute:
				- 'Bc. Michaela Habrunová'
			dates:
				-
					date: '15.09.2018 10:00'
					end: '18:00'
				-
					date: '16.09.2018 9:00'
					end: '16:00'
				-
					date: '22.09.2018 10:00'
					end: '18:00'
				-
					date: '23.09.2018 9:00'
					end: '16:00'
				-
					date: '1.12.2018 10:00'
					end: '18:00'
				-
					date: '2.12.2018 9:00'
					end: '16:00'
		-
			name: 'Práce s energií'
			price: 1700
			occupied: false
			place: %place.dumsvetla%
			lectors:
				- 'Zdeňka Ocelíková'
			dates:
				-
					date: '2.11.2018 10:00'
					end: '18:00'
		-
			name: 'Kraniosakrální terapie I. + II. + práce s energií'
			price: 9200
			deposit: 3200
			occupied: false
			place: %place.dumsvetla%
			lectors:
				- 'Zdeňka Ocelíková'
			substitute:
				- 'Bc. Michaela Habrunová'
			dates:
				-
					date: '02.11.2018 10:00'
					end: '18:00'
				-
					date: '03.11.2018 10:00'
					end: '18:00'
				-
					date: '04.11.2018 9:00'
					end: '16:00'
				-
					date: '17.11.2018 10:00'
					end: '18:00'
				-
					date: '18.11.2018 9:00'
					end: '16:00'
		-
			name: 'Kraniosakrální terapie I. + II. + III. + práce s energií'
			price: 12600
			deposit: 4600
			occupied: false
			place: %place.dumsvetla%
			lectors:
				- 'Zdeňka Ocelíková'
			substitute:
				- 'Bc. Michaela Habrunová'
			dates:
				-
					date: '02.11.2018 10:00'
					end: '18:00'
				-
					date: '03.11.2018 10:00'
					end: '18:00'
				-
					date: '04.11.2018 9:00'
					end: '16:00'
				-
					date: '17.11.2018 10:00'
					end: '18:00'
				-
					date: '18.11.2018 9:00'
					end: '16:00'
				-
					date: '01.12.2018 10:00'
					end: '18:00'
				-
					date: '02.12.2018 9:00'
					end: '16:00'
		-
			name: 'Kraniosakrální terapie I. + II.'
			price: 7800
			deposit: 2800
			occupied: false
			place: %place.dumsvetla%
			lectors:
				- 'Zdeňka Ocelíková'
			substitute:
				- 'Bc. Michaela Habrunová'
			dates:
				-
					date: '03.11.2018 10:00'
					end: '18:00'
				-
					date: '04.11.2018 9:00'
					end: '16:00'
				-
					date: '17.11.2018 10:00'
					end: '18:00'
				-
					date: '18.11.2018 9:00'
					end: '16:00'
		-
			name: 'Kraniosakrální terapie I. + II. + III.'
			price: 11200
			deposit: 4200
			occupied: false
			place: %place.dumsvetla%
			lectors:
				- 'Zdeňka Ocelíková'
			substitute:
				- 'Bc. Michaela Habrunová'
			dates:
				-
					date: '03.11.2018 10:00'
					end: '18:00'
				-
					date: '04.11.2018 9:00'
					end: '16:00'
				-
					date: '17.11.2018 10:00'
					end: '18:00'
				-
					date: '18.11.2018 9:00'
					end: '16:00'
				-
					date: '01.12.2018 10:00'
					end: '18:00'
				-
					date: '02.12.2018 9:00'
					end: '16:00'
		-
			name: 'Kraniosakrální terapie III.'
			price: 3800
			occupied: false
			place: %place.dumsvetla%
			lectors:
				- 'Zdeňka Ocelíková'
			dates:
				-
					date: '1.12.2018 10:00'
					end: '18:00'
				-
					date: '2.12.2018 9:00'
					end: '16:00'
