parameters:
	place: #seznam adres mista konani
		aktip:
			name: 'AKTIP Praha' #nazev mista konani
			street: 'Perucká 587/23' #ulice
			city: 'Praha 2 - Vinohrady' #mesto
			url: 'http://www.aktip.cz' #www stranky mista
			map: 'http://goo.gl/maps/vAoCE' #mapa mista
		kvetnice:
			name: 'La-Matylda'
			street: 'Kontryhelová 373'
			city: 'Praha - východ'
			url: 'http://www.la-matylda.cz'
		zbraslavice:
			name: 'U Starého rybníka'
			street: 'Zbraslavice 255'
			city: 'Zbraslavice'
			url: 'http://www.zbraslavice.eu'
			map: 'http://www.zbraslavice.eu/mapa'

		svetloslunce:
			name: 'Centrum Světlo Slunce'
			street: 'Křižíkova 67/70'
			city: 'Praha 8 - Karlín'
			url: 'http://www.svetloslunce.cz'
			map: 'http://www.mapy.cz/s/8A4k'

		dumsvetla:
			name: 'Dům Rukou Světla'
			street: 'Liblická 294/5'
			city: 'Praha - Hloubětín'
			url: 'http://www.dumrukousvetla.cz'
			map: 'https://mapy.cz/zakladni?x=14.5400403&y=50.1042856&z=17&source=addr&id=8996426'

		pancavskyMlyn:
			name: 'Pančavský Mlýn'
			street: 'Zbraslavice 81'
			city: 'Zbraslavice'
			map: 'http://www.mapy.cz/s/99aA'
		jedraz:
			name: 'Statek Jedraž'
			street: 'Jedraž 1'
			city: '38601 Strakonice'
			url: 'http://jedraz.cz'
			map: 'https://mapy.cz/zakladni?x=13.9319797&y=49.2015713&z=13&source=ward&id=10765'
		sokolovna:
			name: 'penzion Sokolovna'
			street: 'Pražská 375'
			city: 'Dobřichovice'
			map: 'http://mapy.cz/s/1l5IF'
