parameters:
	city: #seznam mest
			1: 'Praha'
			2: 'Brno'
			8: 'Strakonice'
			4: 'Český Brod'
			16: 'Český Krumlov'
			32: 'České Budějovice'

	therapist: #seznam terapeutu
		-
			name: 'Bc. Michaela Habrunová'
			profession:
				- 'Lektor'
				- 'Fyzioterapeut'
				- 'Kranioterapeut'
			cityid: 1
			phone: '+420 774 681 618'
			mail: 'habrunova.misha@atlas.cz'
			photo: 'michaela.jpg'
		-
			name: 'Naďa Glacová'
			profession:
				- 'Kranio-sakrální terapie'
				- 'Konzultace'
			cityid: 1
			phone: '+420 601 338 148'
			mail: 'nada.glacova@seznam.cz'
			photo: 'nada-glacova.jpg'
			web:
				- 'www.nada-metamorfa.cz'
		-
			name: 'Laura Brožová'
			profession:
				- 'EFT terapie'
				- 'Kranio-sakrální terapie'
				- 'Manuální lymfodrenáž'
			cityid: 1
			phone: '+420 605 039 300'
			mail: 'eft-poradenstvi@seznam.cz'
			photo: 'laura.jpg'
			web:
				- 'www.eft-poradenstvi.cz'
		-
			name: 'Mgr. Monika Růžičková'
			profession:
				- 'Psychoterapie'
				- 'Kranio-sakrální terapie'
			cityid: 2
			phone: '+420 608 416 154'
			mail: null
			photo: 'monika-ruzickova.jpg'
			web:
				- 'www.monikaruzickova.cz'
		-
			name: 'Eva Šedivá'
			profession:
				- 'Kranio-sakrální terapie'
				- 'Konzultace'
			cityid: 32
			phone: '+420 774 581 168'
			mail: 'masazeva@seznam.cz'
			photo: 'eva.jpg'
			web:
				- 'www.lecivedoteky.cz'
		-
			name: 'Marcela Velková'
			profession:
				- 'Kranio-sakrální terapie'
				- 'Konzultace'
			cityid: 48
			phone: '+420 777 067 047'
			mail: 'marcela.velkova@seznam.cz'
			photo: 'marcela-velkova.jpg'
			web:
				- 'www.slunecnicestudio.cz'
