parameters:
	therapist:
		praha-4:
			name: 'Praha 4'
			contact:
				-
					name: 'Laura Brožová'
					profession:
						- 'EFT terapie'
						- 'Kranio-sakrální terapie'
						- 'Manuální lymfodrenáž'
					phone: '+420 605 039 300'
					mail: 'eft-poradenstvi@seznam.cz'
					photo: 'laura.jpg'
					web:
						- 'www.eft-poradenstvi.cz'
					address:
						name: 'SOPHISTES'
						street: 'Pšenčíkova 22'
						city: 'Praha 4 Kamýk'
		praha-8:
			name: 'Praha 8'
			contact:
				-
					name: 'Bc. Lenka Krumpová'
					profession:
						- 'Kraniosakrální terapie'
						- 'Fyzioterapie'
					phone: '+420 724 317 146'
					mail: 'krumpova@centrum.cz'
					photo: 'lenka-krumpova.jpg'
					web:
						- 'www.terapiemasaze.eu'
					address:
						street: 'Na hlavní 19/61'
						city: 'Praha 8 Březiněves'
		praha-9:
			name: 'Praha 9'
			contact:
				-
					name: 'Zdeňka Ocelíková'
					profession:
						- 'kraniosakrální terapie a energie'
						- 'lektor kurzů uvedených na tomto webu'
						- 'manuální lymfodrenáž'
						- 'astroporadenství, rodinné konstelace'
					phone: '+420 602 748 729'
					mail: 'kurzKST@seznam.cz'
					photo: 'zdenka-ocelikova.jpg'
					web:
						- 'www.kranio-sakralni-terapie.cz'
					address:
						name: 'Dům Rukou Světla'
						street: 'Liblická 5'
						city: 'Praha 9 Hloubětín (u metra B Hloubětín)'
				-
					name: 'Vendy Kyralová'
					profession:
						- 'Kineziologie'
						- 'Bachova terapie'
						- 'Kranio-sakrální terapie'
					phone: '+420 604 534 508'
					mail: 'vendy.kyralova@gmail.com'
					web:
						- 'www.zdravi-stesti.cz'
					photo: 'vendy-kyralova.jpg'
					address:
						name: 'Dům Rukou Světla'
						street: 'Liblická 5'
						city: 'Praha 9 Hloubětín'
		praha-16:
			name: 'Praha 16'
			contact:
				-
					name: 'Mgr. Eva Vojtěchovská'
					profession:
						- 'Kraniosakrální Reiki terapie'
					phone: '+420 736 264 988'
					mail: 'eva@kraniosa.cz'
					photo: 'eva-vojtechovska.jpg'
					web:
						- 'www.kraniosa.cz'
					address:
						street: 'Vrážská 12'
						city: 'Praha 16 Radotín'
		praha-vychod:
			name: 'Praha-východ'
			contact:
				-
					name: 'Zuzana Mostecká'
					profession:
						- 'Fyzioterapie a relaxační masáže'
						- 'Kranio-sakrální terapie'
						- 'Reiki'
					phone: '+420 725 279 166'
					mail: 'z.mostecka@seznam.cz'
					photo: 'zuzana-mostecka.jpg'
					address:
						city: 'Nehvizdy, Praha-východ'
		brno:
			name: 'Brno'
			contact:
				-
					name: 'Mgr. Monika Růžičková'
					profession:
						- 'Psychoterapie'
						- 'Kranio-sakrální terapie'
					phone: '+420 608 416 154'
					mail: null
					photo: 'monika-ruzickova.jpg'
					web:
						- 'www.monikaruzickova.cz'
					address:
						street: 'Husova 13 (2. patro)'
						city: 'Brno'
		ceske-budejovice:
			name: 'České Budějovice'
			contact:
				-
					name: 'Eva Šedivá'
					profession:
						- 'Kranio-sakrální terapie'
						- 'Konzultace'
					phone: '+420 774 581 168'
					mail: 'masazeva@seznam.cz'
					photo: 'eva.jpg'
					web:
						- 'www.lecivedoteky.cz'
					address:
						street: 'Hroznova 9'
						city: 'České Budějovice'
				-
					name: 'Marcela Velková'
					profession:
						- 'Kranio-sakrální terapie'
						- 'Konzultace'
					phone: '+420 777 067 047'
					mail: 'marcela.velkova@seznam.cz'
					photo: 'marcela-velkova.jpg'
					web:
						- 'www.poslouchejse.cz'
					address:
						name: 'Salon Katty'
						street: 'nám. Přemysla Otakara II. 21 (1. patro)'
						city: 'České Budějovice'
		cesky-krumlov:
			name: 'Český Krumlov'
			contact:
				-
					name: 'Marcela Velková'
					profession:
						- 'Kranio-sakrální terapie'
						- 'Konzultace'
					phone: '+420 777 067 047'
					mail: 'marcela.velkova@seznam.cz'
					photo: 'marcela-velkova.jpg'
					web:
						- 'www.poslouchejse.cz'
					address:
						street: 'Kostelní 163'
						city: 'Český Krumlov'
		pardubice:
			name: 'Pardubice'
			contact:
				-
					name: 'Milena Moravcová'
					profession:
						- 'Kranio-sakrální terapie'
						- 'Jikiden Reiki - léčebná a relaxační terapie'
						- 'Osobní poradenství + psychoterapie'
					phone: '+420 607 238 826'
					mail: 'arcaneia@email.cz'
					photo: 'milena-moravcova.jpg'
					web:
						- 'www.terapie-pardubice.cz'
					address:
						street: 'Sjezdová 147'
						city: 'Pardubice'
