<!DOCTYPE html>
<html lang="cs">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="keywords" content="{block keywords}kurzy kraniosakrální terapie Praha, kranio-sakrální semináře, práce s energií, energetické léčení, zasvěcení Reiki, Shamballa, Ra-Sheeba{/block}">
		<meta name="description" content="{block description}Kurzy kraniosakrální terapie a práce s energií. Zasvěcení do Reiki, Shambally a Ra-Sheeby.{/block}">
		{block robots|indent:2}
		{/block}
		<title>{block title|striptags}Kraniosakrální terapie{/block}</title>
		<link rel="shortcut icon" href="/favicon.ico">
		<link rel="stylesheet" href="/style.css" type="text/css">
		<link href="/css/jquery.css" rel="stylesheet" type="text/css"/>
		{block head|indent:2}
		{/block}
	</head>
	<body>
		<div id="page">
			<div id="shadow">
				<div id="menu">
					<ul>
						<li><a{ifCurrent domu} class="current"{/ifCurrent} n:href="Web:domu">Domů</a></li>
						<li><a{ifCurrent zdenkaOcelikova} class="current"{/ifCurrent} n:href="Web:zdenkaOcelikova">O mně</a></li>
						<li><a{ifCurrent kontaktyTerapeutu} class="current"{/ifCurrent} n:href="Web:kontaktyTerapeutu">Kontakty</a></li>
						<li><a{ifCurrent nabidkaSluzeb} class="current"{/ifCurrent} n:href="Web:nabidkaSluzeb">CENÍK služeb</a></li>
						<li><a{ifCurrent kurzyKraniosakralniTerapie} class="current"{/ifCurrent} n:href="Web:kurzyKraniosakralniTerapie">KURZY - výcviky</a></li>
						<li><a{ifCurrent fotoVideo} class="current"{/ifCurrent} n:href="Web:fotoVideo">Foto a video</a></li>
						<li><a{ifCurrent referenceKlientu} class="current"{/ifCurrent} n:href="Web:referenceKlientu">Reference klientů</a></li>
						<li><a{ifCurrent referenceKurzu} class="current"{/ifCurrent} n:href="Web:referenceKurzu">Reference z kurzů</a></li>
						<li><a{ifCurrent kraniosakralniTerapie} class="current"{/ifCurrent} n:href="Web:kraniosakralniTerapie">Kraniosakrální terapie</a></li>
						<li><a{ifCurrent kineziologie} class="current"{/ifCurrent} n:href="Web:kineziologie">Kineziologie</a></li>
						<li><a{ifCurrent somatoEmocionalniUvolneni} class="current"{/ifCurrent} n:href="Web:somatoEmocionalniUvolneni">Somato-emocionální uvolnění</a></li>
						<li><a{ifCurrent praceEnergie} class="current"{/ifCurrent} n:href="Web:praceEnergie">Práce s ENERGIÍ</a></li>
						<li><a{ifCurrent cisteniProstor} class="current"{/ifCurrent} n:href="Web:cisteniProstor">Čištění prostor</a></li>
						<li><a{ifCurrent geopatogenniZony} class="current"{/ifCurrent} n:href="Web:geopatogenniZony">Geopatogenní zóny</a></li>
						<li><a{ifCurrent kauzalniMedicina} class="current"{/ifCurrent} n:href="Web:kauzalniMedicina">Kauzální medicína</a></li>
						<li><a{ifCurrent lymfatickaRucniDrenaz} class="current"{/ifCurrent} n:href="Web:lymfatickaRucniDrenaz">Lymfatická masáž</a></li>
						<li><a{ifCurrent astroporadna} class="current"{/ifCurrent} n:href="Web:astroporadna">Astroporadna</a></li>
						<li><a{ifCurrent rodinneKonstelace} class="current"{/ifCurrent} n:href="Web:rodinneKonstelace">Rodinné konstelace</a></li>
						<li><a{ifCurrent samanizmus} class="current"{/ifCurrent} n:href="Web:samanizmus">Šamanizmus</a></li>
						<li><a{ifCurrent raSheebaReikiShamballa} class="current"{/ifCurrent} n:href="Web:raSheebaReikiShamballa">Ra-Sheeba Reiki Shamballa </a></li>
						<li><a{ifCurrent hovoryDuse} class="current"{/ifCurrent} n:href="Web:hovoryDuse">Hovory s duší</a></li>
					</ul>
					<div class="ui-menu ui-widget ui-widget-content ui-corner-all address">
						<h2 class="ui-accordion-header ui-state-default">Adresa působiště</h2>
						<div>
							<a target="_blank" href="http://www.dumrukousvetla.cz/kontakt">
								Dům Rukou Světla
							</a>
						</div>
						<div>
							<a target="_blank" href="http://www.mapy.cz/s/8DrK">
								Liblická 294/5
							</a>
						</div>
						<div>Praha - Hloubětín</div>
					</div>
					<div n:if="$toplist" id="toplist">
						<a target="_blank" href="http://www.toplist.cz/stat/1707354">
							<script language="JavaScript" type="text/javascript">
								document.write('<img src="https://toplist.cz/count.asp?id=1707354&logo=mc&http=' + escape(document.referrer) + '&t=' + escape(document.title) + '&wi=' + escape(window.screen.width) + '&he=' + escape(window.screen.height) + '&cd=' + escape(window.screen.colorDepth) + '" width="88" height="60" border=0 alt="TOPlist" />');
							</script>
							<noscript>
							<img src="https://toplist.cz/count.asp?id=1707354&logo=mc" border="0" alt="TOPlist" width="88" height="60" />
							</noscript>
						</a>
					</div>
				</div>
				<div id="content">
					<!--[if lt IE 9]>
						<div class="flash error">
							Používáte zastaralou verzi prohlížeče, některé stránky se vám mohou zobrazit nekorektně.
							Pro správné zobrazení stránek si aktualizujte prohlízeč.
						</div>
					<![endif]-->
					{include #content}
				</div>
				<div class="clr"></div>
			</div>
		</div>
		<script n:if="$google" type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-27641691-1']);
			_gaq.push(['_trackPageview']);
			(function () {
				var ga = document.createElement('script');
				ga.type = 'text/javascript';
				ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0];
				s.parentNode.insertBefore(ga, s);
			})();
		</script>
	</body>
</html>
