@font-face {
	font-family: webglyphs;
	src: url('../font/webglyphs2.eot');
	src: url('../font/webglyphs2.woff') format('woff'),
        url('../font/webglyphs2.ttf') format('truetype');
}
#city{
	margin-right: 20px;
}
#city a{
	cursor: pointer;
}
#city,
#therapist {
	float:left;
}
#therapist {
	padding-left: 20px;
	width: 390px;
}
#therapist li.foto{
	margin: 0 0 12px 4px;
	float: right;
}
#therapist ul{
	margin:0 0 16px 0;
	padding:0;
	list-style: none;
	clear: both;
}
*:before{
	font-family: webglyphs;
	font-weight: normal;
	font-size: 14px;
	margin-right: 8px;
	position: relative;
	top: 1px;
	cursor: default;
}
.price:before {
	content: '\f264';
}
.deposit:before {
	content: '\f032';
}
.date:before {
	content: '\f4d0';
}
.person:before {
	content: '\f133';
}
.profession:before {
	content: '\f058';
}
.phone:before {
	content: '\f0e8';
}
.mail:before {
	content: '\f028';
	top: 4px;
}
.website:before {
	content: '\f022';
	top: 4px;
}
.house:before {
	content: '\f5ed';
}
.street:before {
	content: '\f21b';
}
.city:before {
	content: '\f576';
}
.map:before {
	content: '\f20a';
}
.actcity:before {
	content: '\f31b';
}
body{
	font-family: arial;
	font-size: 0.8em;
	color: #ffffff;
	margin: 0px;
	background-color: #004f44;
	background-image: url("/img/bck/headgrd.png");
	background-repeat: repeat-x;
}
#head{
	width: 880px;
	margin: auto;
	padding-top: 400px;
	background-image: url("/img/bck/head.jpg");
	background-repeat: no-repeat;
}
#body{
	background-color: #0bb8a2;
	background-image: url("/img/bck/bodygrd.png");
	background-repeat: repeat-x;
}
#bodycntlft{
	background-image: url("/img/bck/bodycntlft.png");
	background-repeat: repeat-y;
}
#bodycntrgt{
	background-image: url("/img/bck/bodycntrgt.png");
	background-position: right;
	background-repeat: repeat-y;
}
#bodyrgt{
	background-image: url("/img/bck/bodyrgt.png");
	background-position: top right;
	background-repeat: no-repeat;
}
#bodylft{
	background-image: url("/img/bck/bodylft.png");
	background-repeat: no-repeat;
}
#foot{
	background-image: url("/img/bck/foot.png");
	background-position: bottom;
	background-repeat: no-repeat;
	padding-bottom: 28px;
}
#page{
	width: 800px;
	margin-left: 32px;
	background-image: url("/img/bck/ray.png");
	background-position: 182px;
	background-repeat: repeat-y;
}
#backlink{
	text-align: center;
	position: relative;
	top: -18px;
}
#backlink a{
	font-family: verdana;
	font-size: 0.7em;
	text-decoration: none;
	color: #0bb8a2;
}
hr{
	border: none;
	border-top-width: 1px;
	border-top-color: white;
	border-top-style: dotted;
}
img, iframe, video{
	border-radius: 8px;
	border: #004f44 solid 1px; 
}
img.nobrd{
	border:none;
	margin-bottom: 15px;
}
table {
	margin-top: 6px;
	margin-bottom: 20px;
}
h1{
	position: absolute;
	top: -60px;
	font-size: 1.8em;
	text-shadow:0px 0px 4px #B8FFEA
}
h2{
	font-size: 1.2em;
	margin-top: 20px;
	margin-bottom: 6px;
	text-shadow:0px 0px 4px #B8FFEA;
}
p, ul{
	margin-top: 0px;
}
q{
	font-style: italic;
	quotes:  none;
}
a{
	color: #ffffff;
	font-weight: bold;
}
.current, a:hover{
	text-shadow:0px 0px 4px #B8FFEA, 0px 0px 8px #FFFFFF
}
#frm-authentication{
    margin-top: 14px;
}
#menu a{
	font-size: 0.9em;
	text-decoration: none;
}
#menu ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
	text-align: right;
}
#menu li{
	margin-bottom: 15px;
}
#menu {
	width: 170px;
	margin-left: 10px;
	margin-right: 25px;
	float: left;
}
#content{
	width: 575px;
	float: left;
	position: relative;
}
.cnt{
	margin: 0 10px 0 0;
	padding: 0;
	list-style: none;
}
.leftimg{
	float: left;
	margin-right: 5px;
}
.rightimg{
	float: right;
	margin-left: 5px;
}
.clr{
	clear: both;
}
a[href^="error:"] {
    background: red;
    color: white;
}
/*** Flash zpravicky ***/
.flash {
	padding: 8px;
	margin-bottom: 2px;
	border: 1px solid #ddd;
	margin-bottom: 20px;
}
.flash.success {
	background: #E6EFC2;
	color: #264409;
	border-color: #C6D880;
}
.flash.error {
	background: #FFB6C1;
	color: #8a1f11;
	border-color: #8a1f11;
}
/*** End flash zpravicky ***/
